* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.parent {
  height:100%;
  width: 100%;
  background-color: #111;
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}


.card {
  height: 400px;
  width: 300px;
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}
.top button {
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 3px 6px;
  font-size: 10px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #b1b1b1
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #b1b1b1;
  padding-top: 15px;
}

.center h3 {
  font-size: 17px;
  font-weight: 500;
}

.center h3 span {
  font-size: 9px;
  font-weight: 400;
  color: #8b8b8b;
} 
.center h2 {
  font-size: 20px;
}
.center .tag {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.center .tag h4 {
  font-size: 12px;
  background-color: #daddad;
  color: #111;
  font-weight: 500;
  padding: 3px 6px;

}
.bottom button {
  background-color: #111;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-weight: 500;
}
